In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import warnings
warnings.filterwarnings('ignore')

In [69]:
sgames = pd.read_parquet('./steam_games.parquet')
ureviews = pd.read_parquet('./user_reviews.parquet')
uitems = pd.read_parquet('./user_items.parquet')
games_reviews = pd.read_parquet('./games_reviews.parquet')
userForGenre = pd.read_parquet('./userforgenre.parquet')

In [4]:
sgames

,genres,app_name,price,id,developer,anio
0,Action,Lost Summoner Kitty,4.99,761140,Kotoshiro,2018
1,Free to Play,Ironbound,0.00,643980,Secret Level SRL,2018
2,Casual,Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017
3,Action,弹炸人2222,0.99,767400,彼岸领域,2017
4,Action,Battle Royale Trainer,3.99,772540,Trickjump Games Ltd,2018
...,...,...,...,...,...,...
28702,Action,Kebab it Up!,1.99,745400,Bidoniera Games,2018
28703,Casual,Colony On Mars,1.99,773640,"Nikita ""Ghost_RUS""",2018
28704,Casual,LOGistICAL: South Africa,4.99,733530,Sacada,2018
28705,Indie,Russian Roads,1.99,610660,Laush Dmitriy Sergeevich,2018
28706,Casual,EXIT 2 - Directions,4.99,658870,"xropi,stev3ns",2017

In [5]:
ureviews

,user_id,item_id,recommend,anio_post,sentimientos,sentiments
0,76561197970982479,1250,True,2011,0.174444,1
1,76561197970982479,22200,True,2011,0.337500,1
2,76561197970982479,43110,True,2011,0.075000,1
3,js41637,251610,True,2014,0.114583,1
4,js41637,227300,True,2013,-0.036111,-1
...,...,...,...,...,...,...
58425,76561198312638244,70,True,2014,0.233333,1
58426,76561198312638244,362890,True,2014,0.142500,1
58427,LydiaMorley,273110,True,2014,0.087500,1
58428,LydiaMorley,730,True,2014,0.000000,0
58429,LydiaMorley,440,True,2014,0.300000,1

In [6]:
uitems

,user_id,items_count,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,277,76561197970982479,10,Counter-Strike,0.10
1,76561197970982479,277,76561197970982479,30,Day of Defeat,0.12
2,76561197970982479,277,76561197970982479,300,Day of Defeat: Source,78.88
3,76561197970982479,277,76561197970982479,240,Counter-Strike: Source,30.88
4,76561197970982479,277,76561197970982479,3830,Psychonauts,5.55
...,...,...,...,...,...,...
3246357,76561198329548331,7,76561198329548331,304930,Unturned,11.28
3246358,76561198329548331,7,76561198329548331,227940,Heroes & Generals,0.72
3246359,76561198329548331,7,76561198329548331,388490,One Way To Die: Steam Edition,0.05
3246360,76561198329548331,7,76561198329548331,521570,You Have 10 Seconds 2,0.07
3246361,76561198329548331,7,76561198329548331,519140,Minds Eyes,0.05

In [7]:
games_reviews

,genres,app_name,price,id,developer,anio,user_id,item_id,recommend,anio_post,sentimientos,sentiments
0,Action,Carmageddon Max Pack,9.99,282010,Stainless Games Ltd,1997,InstigatorAU,282010,True,2014,0.000000,0
1,Action,Half-Life,9.99,70,Valve,1998,EizanAratoFujimaki,70,True,2015,-0.000529,-1
2,Action,Half-Life,9.99,70,Valve,1998,GamerFag,70,True,2011,-0.066667,-1
3,Action,Half-Life,9.99,70,Valve,1998,76561198020928326,70,True,2014,-0.075000,-1
4,Action,Half-Life,9.99,70,Valve,1998,Bluegills,70,True,2013,0.202070,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49645,Action,Counter-Strike: Condition Zero,9.99,80,Valve,2004,76561198023508728,80,False,2014,0.000000,0
49646,Action,Counter-Strike: Condition Zero,9.99,80,Valve,2004,Lone_walker,80,True,2013,0.500000,1
49647,Action,Counter-Strike: Condition Zero,9.99,80,Valve,2004,green290,80,True,2015,0.062500,1
49648,Action,Counter-Strike: Condition Zero,9.99,80,Valve,2004,174gamecuman700kngkakak,80,True,2014,0.000000,0
49649,Action,Counter-Strike: Condition Zero,9.99,80,Valve,2004,lachwe,80,True,2015,-0.500000,-1

In [70]:
userForGenre

            user_id  genres  anio  playtime_forever
0           --000--  Action  2009             49.15
1           --ace--  Action  2011             21.15
2         --ionex--  Action  2011             14.03
3         --ionex--  Action  2012            591.30
4      -2SV-vuLB-Kg  Action  2012            501.15
...             ...     ...   ...               ...
35419       zyr0n1c  Action  2011             10.22
35420       zyr0n1c  Action  2012            959.08
35421       zyr0n1c  Action  2013            153.20
35422       zyr0n1c  Action  2014             10.72
35423       zyr0n1c   Indie  2006            115.88

[35424 rows x 4 columns]

In [71]:
def PlayTimeGenre(genero, sgames: pd.DataFrame, uitems: pd.DataFrame):
    genero = genero.lower()
    
    # Filtrar juegos por género
    sgames2 = sgames[sgames['genres'].str.contains(fr'\b{genero}\b', case=False, na=False)]

    if not sgames2.empty:
        result = {"Para el género {} el año que más horas fue jugado fue el: {}".format(
        genero.capitalize(),
        pd.merge(uitems.astype({'item_id': str}), sgames2[['id', 'anio']].astype({'id': str}), left_on='item_id', right_on='id')
        .groupby('anio')['playtime_forever'].sum().idxmax()
    )}
    else:
        result = {"Para el género {}: {}".format(genero.capitalize(), "No encontramos nada...Intentalo de nuevo")}


    return result

In [72]:
PlayTimeGenre('action', sgames, uitems)

{'Para el género Action el año que más horas fue jugado fue el: 2012'}

In [50]:
PlayTimeGenre('casual', sgames, uitems)

{'Para el género Casual el año que más horas fue jugado fue el: 2015'}

In [51]:
PlayTimeGenre('indie', sgames, uitems)

{'Para el género Indie el año que más horas fue jugado fue el: 2006'}

In [47]:
PlayTimeGenre('snu snu', sgames, uitems)

{'Para el género snu snu: No encontramos nada...Intentalo de nuevo'}

In [78]:
def UserForGenre(genre: str, userForGenre: pd.DataFrame):
    # Filtrar el DataFrame por el género proporcionado
    df_filtered = userForGenre[userForGenre['genres'] == genre]

    if not df_filtered.empty:
        # Encontrar el usuario que acumula más horas jugadas
        user_with_most_playtime = df_filtered.groupby('user_id')['playtime_forever'].sum().idxmax()

        # Crear una lista de la acumulación de horas jugadas por año
        playtime_by_year = df_filtered.groupby('anio')['playtime_forever'].sum().reset_index()
        playtime_by_year = playtime_by_year.rename(columns={'anio': 'Año', 'playtime_forever': 'Horas'})

        # Convertir las horas a enteros
        playtime_by_year['Horas'] = playtime_by_year['Horas'].astype(int)

        result = {
            "Usuario con más horas jugadas para Género {}:".format(genre.capitalize()): user_with_most_playtime,
            "Horas jugadas por año": [{"Año": str(row['Año']), "Horas": row['Horas']} for _, row in playtime_by_year.iterrows()]
        }
    else:
        result = {"Género no encontrado en el DataFrame": "No hay datos para mostrar"}

    return result

In [79]:
UserForGenre('Action', userForGenre)

{'Usuario con más horas jugadas para Género Action:': 'shinomegami',
 'Horas jugadas por año': [{'Año': '1990', 'Horas': 2},
  {'Año': '1991', 'Horas': 0},
  {'Año': '1992', 'Horas': 10},
  {'Año': '1993', 'Horas': 0},
  {'Año': '1994', 'Horas': 40},
  {'Año': '1995', 'Horas': 200},
  {'Año': '1996', 'Horas': 3},
  {'Año': '1997', 'Horas': 46},
  {'Año': '1998', 'Horas': 1086},
  {'Año': '1999', 'Horas': 1840},
  {'Año': '2000', 'Horas': 13255},
  {'Año': '2001', 'Horas': 69},
  {'Año': '2002', 'Horas': 259},
  {'Año': '2003', 'Horas': 20844},
  {'Año': '2004', 'Horas': 70694},
  {'Año': '2005', 'Horas': 4910},
  {'Año': '2006', 'Horas': 4384},
  {'Año': '2007', 'Horas': 5763},
  {'Año': '2008', 'Horas': 8026},
  {'Año': '2009', 'Horas': 119372},
  {'Año': '2010', 'Horas': 128164},
  {'Año': '2011', 'Horas': 296039},
  {'Año': '2012', 'Horas': 2677438},
  {'Año': '2013', 'Horas': 652054},
  {'Año': '2014', 'Horas': 132264},
  {'Año': '2015', 'Horas': 243456},
  {'Año': '2016', 'Horas': 94091},
  {'Año': '2017', 'Horas': 166528}]}

In [80]:
UserForGenre('Casual', userForGenre)

{'Usuario con más horas jugadas para Género Casual:': 'tsunamitad',
 'Horas jugadas por año': [{'Año': '1998', 'Horas': 1},
  {'Año': '2002', 'Horas': 0},
  {'Año': '2003', 'Horas': 0},
  {'Año': '2004', 'Horas': 17},
  {'Año': '2006', 'Horas': 43},
  {'Año': '2007', 'Horas': 446},
  {'Año': '2008', 'Horas': 2},
  {'Año': '2009', 'Horas': 117},
  {'Año': '2010', 'Horas': 630},
  {'Año': '2011', 'Horas': 10631},
  {'Año': '2012', 'Horas': 7423},
  {'Año': '2013', 'Horas': 4378},
  {'Año': '2014', 'Horas': 4908},
  {'Año': '2015', 'Horas': 7003},
  {'Año': '2016', 'Horas': 5552},
  {'Año': '2017', 'Horas': 2}]}